# Environment 'development', 'test', or 'production'
ENV=development

PYTHONPATH=/home/appuser/app

LOGFILE_PATH=/home/appuser/logs/hdc3a_transfer_service.log
#Choose from CRITICAL, ERROR, WARNING, INFO, DEBUG
LOGLEVEL=DEBUG

VERSION=XXX

TRANSFER_MQ_HOST=b-e57fc418-9916-406e-882b-6c49fa1e2ee2-1.mq.us-east-1.amazonaws.com
TRANSFER_MQ_PORT=61614
TRANSFER_MQ_USER=ims
TRANSFER_MQ_PASSWORD=XXX
TRANSFER_QUEUE_PUBLISH_NAME=/queue/dropbox-transfer-status
TRANSFER_QUEUE_CONSUME_NAME=/queue/transfer-ready
#Default to one hour
MESSAGE_EXPIRATION_MS=3600000

S3_BUCKET_NAME=XXX
#Read-Write Credentials
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=XXX

#The filename of the file that contains
#the hash of each the supplied files (for validation)
SUPPLIED_HASH_MAPPING_FILENAME=XXX
#md5 or sha256
CHECKSUM_ALGORITHM=md5
#List of required filenames separated by commas.  Use relative paths
REQUIRED_UNZIPPED_FILES=XXX