# Environment 'development', 'test', or 'production'
ENV=development

PYTHONPATH=/home/appuser/app

LOGFILE_PATH=/home/appuser/logs/hdc3a_transfer_service.log
#Choose from CRITICAL, ERROR, WARNING, INFO, DEBUG
LOGLEVEL=DEBUG
APP_LOG_LEVEL=DEBUG
CELERY_LOG_LEVEL=DEBUG

VERSION=XXX

MESSAGE_EXPIRATION_MS=3600000
MESSAGE_MAX_RETRIES=3

TRANSFER_TASK_NAME=transfer_service.tasks.transfer_data
TRANSFER_STATUS_TASK_NAME=dims.tasks.handle_transfer_status

TRANSFER_CONSUME_QUEUE_NAME=transfer-ready
TRANSFER_PUBLISH_QUEUE_NAME=dropbox-transfer-status
BROKER_URL=XXX

#Read-Write Credentials
DVN_AWS_ACCESS_KEY_ID=XXX
DVN_AWS_SECRET_ACCESS_KEY=XXX
EPADD_AWS_ACCESS_KEY_ID=XXX
EPADD_AWS_SECRET_ACCESS_KEY=XXX

#The filename of the file that contains
#the hash of each the supplied files (for validation)
SUPPLIED_HASH_MAPPING_FILENAME=XXX
#md5, sha256 or sha512
CHECKSUM_ALGORITHM=md5
#List of required filenames separated by commas.  Use relative paths
REQUIRED_UNZIPPED_FILES=XXX
#List of required zip extensions sparated by commas
ZIP_EXTENSIONS=.zip,.7z,.gz

##For testing
S3_BUCKET_NAME=XXX

#Notify queuing
MQ_HOST=b-e57fc418-9916-406e-882b-6c49fa1e2ee2-1.mq.us-east-1.amazonaws.com
MQ_PORT=61614
MQ_USER=ims
MQ_PASSWORD=XXX
QUEUE_NAME=/queue/dais-notify
DEFAULT_EMAIL_RECIPIENT=dts@hu.onmicrosoft.com
